<mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Basil</mat-card-title>
        <mat-card-subtitle>Genus: Ocimum</mat-card-subtitle>
    </mat-card-header>
    <img class="plant" [src]="image" alt="">
    <mat-card-content>
        <p> TDS [ppm]: 640 - 1152 </p>
        <p> Hours of sun [h]: 6 - 12 </p>
        <p> Water Temperature [°C]: 18 - 26</p>
        <p> Air Temperature [°C]: 16 - 22</p>
        <p> Air Humidity [%]: 60 - 100</p>
    </mat-card-content>
  </mat-card>