.mat-card-image {
    width: 300px;
    height: 300px;
    border-radius: 6px;
}

.mat-elevation-z5 {
    justify-content: center;
    height: 100%;
}

.mat-card-actions {
    text-align: center;
}

.Chili {
    justify-content: center;
}

.plant {
    width: 300px;
    height: 300px;
}