<div class = "Chili">
    <mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Chili</mat-card-title>
        <mat-card-subtitle>Genus: Capsicum</mat-card-subtitle>
    </mat-card-header>
    <img class="plant" [src]="image" alt="">
    <mat-card-content>
        <p> TDS [ppm]: 896 - 1536 </p>
        <p> Hours of sun [h]: 14 - 16 </p>
        <p> Water Temperature [°C]: 18 - 26</p>
        <p> Air Temperature [°C]: 15 - 32</p>
        <p> Air Humidity [%]: 60 - 100</p>
    </mat-card-content>
  </mat-card>
  </div>